:root {
  --white: #FFF;
  --primary: #61ecbc;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}